classes:
- system.linux.system.repo.tcp_salt
- system.openssh.client.lab
- system.salt.master.pkg
- system.salt.minion.ca.salt_master
- system.salt.minion.cert.k8s_server
- system.reclass.storage.salt
- system.reclass.storage.system.kubernetes_control_cluster
- cluster.mcpk8s
parameters:
  _param:
    salt_master_base_environment: prd
    reclass_data_repository: "https://github.com/tlichten/mcpk8s.git"
    reclass_data_revision: master
    reclass_config_master: ${_param:infra_config_deploy_address}
    single_address: ${_param:infra_config_address}
    deploy_address: ${_param:infra_config_deploy_address}
    salt_master_host: ${_param:infra_config_address}
    linux_system_codename: xenial
  reclass:
    storage:
      node:
        kubernetes_control_node01:
          params:
            deploy_address: ${_param:kubernetes_control_node01_deploy_address}
            linux_system_codename: xenial
        kubernetes_control_node02:
          params:
            deploy_address: ${_param:kubernetes_control_node02_deploy_address}
            linux_system_codename: xenial
        kubernetes_control_node03:
          params:
            deploy_address: ${_param:kubernetes_control_node03_deploy_address}
            linux_system_codename: xenial
        kubernetes_compute_node01:
          name: ${_param:kubernetes_compute_node01_hostname}
          domain: ${_param:cluster_domain}
          classes:
          - cluster.${_param:cluster_name}.kubernetes.compute
          params:
            salt_master_host: ${_param:reclass_config_master}
            linux_system_codename: xenial
            deploy_address: ${_param:kubernetes_compute_node01_deploy_address}
            single_address: ${_param:kubernetes_compute_node01_single_address}
        kubernetes_compute_node02:
          name: ${_param:kubernetes_compute_node02_hostname}
          domain: ${_param:cluster_domain}
          classes:
          - cluster.${_param:cluster_name}.kubernetes.compute
          params:
            salt_master_host: ${_param:reclass_config_master}
            linux_system_codename: xenial
            deploy_address: ${_param:kubernetes_compute_node02_deploy_address}
            single_address: ${_param:kubernetes_compute_node02_single_address}
